
<h3 dir="rtl">مرحباً بكم في موقع اللجنة التطوعية لتوظيف ذوي الإعاقة</h3>

<p><%= link_to 'Users:', users_path %> <%= User.count %> registered</p>

<div id="rtl">
	قدم الآن للحصول على وظيفة
</div>

<div id="rtl">
اعرض الوضائف المتاحة في شركتك	
</div>


<img width="100%" height="auto" src="background6.jpg">