<% content_for :title do %>من نحن<% end %>


</br>
</br>
</br>
</br>
</br>
<h2 class="fonty" align="center">من نحن</h2>
</br>
</br>




<body class="fonty" align="right">
	
	
<h4>
	من نحن؟
</h4>

<p class="fonty aboutpad">
إيماناً من اللجنة التطوعية لتوظيف ذوي الإعاقة بقدرات ذوي الإعاقة وأنهم طاقات يمكن إستثمارها في خدمة وطنهم تم إنشاء اللجنة التطوعية لتوظيف ذوي الأعاقة سعياً لإيجاد وظائف تناسب إمكاناتهم وقدراتهم , وتوفير التدريب الملائم لهم، وتساعدهم على تخطي العقبات والصعوبات التي قد تواجههم مما يوفر لهم حياة كريمة تقوم على مبدأ الإستقلالية والإعتماد على النفس أسوة ببقية أفراد المجتمع.            
 و نقوم بدورنا بالتواصل مع الوزارات والمؤسسات لتوظيف ذوي الإعاقة بما يناسب قدراتهم وإمكانياتهم 
</p>
</br></br>
<h4>
	رؤيتنا:
</h4>

<p class="fonty aboutpad">
	ذوي الإعاقة أشخاص قادرون على العمل والعطاء إذا ماتوافرت لهم الوظيفة التي تناسب مع مؤهلاتهم وقدراتهم ليكونوا مواطنين مسؤولين معتمدين على ذاتهم ويساهمون في نهضة مجتمعهم في الحياة العملية .
</p>
</br></br>
<h4>
	رسالتنا:
</h4>	

<p class="fonty aboutpad">
	دمج ذوي الإعاقة في المجتمع في كافة المجالات من خلال العمل وذلك بإيجاد وظائف تناسب إمكانياتهم وتوفير التدريب الملائم لهم وتحقيق مبدأ المساواة وتطوير قدراتهم مما يعزز من ثقتهم بأنفسهم ويكفل لهم حياة كريمة في ظل مجتمع يتفاعل أفراده مع أخوانهم من ذوي الإعاقة.

</p>
</br></br>
<h4> 	
	أهدافنا:
</h4> 
	
<p class="fonty aboutpad">
	1- توعية المجتمع بذوي الإعاقة وتسليط الضوء على حقوقهم في الإندماج والتفاعل مع أفراد المجتمع والإنخراط في صفوفه بإصدار المطويات وإعداد حملات توعوية لتوظيف ذوي الإعاقة. </br><br>
	2- تعريف المجتمع بقدرات وإمكانات هذه الفئة بإعتبارها طاقات معطلة ينبغي أن يستفيد منها الجميع أولاً ، وثانياً لما يتركه العمل من أثر في تكوين شخصياتهم وإستقلالهم وإحساسهم بكيانهم وتعزيز ثقتهم بأنفسهم بإعطائهم حقاً من حقوقهم الطبيعية في الحياة. </br><br>
	3- المساعدة في تدريب ذوي الإعاقة بمختلف وزارات ومؤسسات الدولة بهدف إعدادهم وتأهيلهم مهنياً للوظيفة المناسبة. <br> </br>
	4- السعي في توفير وظائف تتناسب مع مؤهلاتهم وقدراتهم وذلك بالبحث والمتابعة مع الوزرارات والمؤسسات العامة والخاصة في الدولة.
</p>	
	</br></br>

<p class="fonty aboutpad">

اللجنة التطوعية لتوظيف ذوي الإعاقة تعتبر لجنة غير ربحية أُسست في 2008 من قبل معهد النور للمكفوفين. تقع اللجنة في الخليج الغربي في مبنى معهد النور. كانت اللجنة في السابق تحت إدارة معهد النور ولكنها الآن أصبحت مستقلة.  تتمثل أهداف اللجنة في "دمج ذوي الإعاقة في المجتمع في كافة المجالات من خلال العمل وذلك بإيجاد وظائف تناسب إمكانياتهم وتوفير التدريب الملائم لهم وتحقيق مبدأ المساواة وتطوير قدراتهم مما يعزز من ثقتهم بأنفسهم ويكفل لهم حياة كريمة" (الشرق، 2015). تعمل اللجنة التطوعية تحت إدارة السيد خالد الشعيبي ، و بعض الأعضاء الآخرين من بينهم السيد حسين الحداد. 



</p>

<br>

<p class="fonty aboutpad">

	لقد تأسست هذه اللجنة لأجل خدمة الناس من ذوي الإعاقة و ذلك لربطهم ومساعدتهم في الوصول إلى الشركات والمؤسسات التي لديها فرص عمل متاحة و مناسبة لهم . اللجنة التطوعية لا تمتلك ميزانية مالية أساسية لأنها لا تتبع أي جهة في الدولة. لذلك، كل أعمال اللجنة تطوعية و يعمل جميع الأعضاء من دون أن تصرف لهم رواتب أو أي مسحقات مالية. تستهدف اللجنة جميع ذوي الإعاقة بين الأعمار 18 و 60 سنة. و الطرق الوحيدة التي يمكن للناس أن يتعرفوا أو يتواصلوا بها مع اللجنة هي من خلال المقالات التي نُشرت في الجرائد أو من خلال حساب Twitter الخاص بهم .

</p>
	
	
<br>
<p class="fonty aboutpad">
	

	 تتكون اللجنة التطوعية لتوظيف ذوي الإعاقة من عدد من الأعضاء يرأسهم السيد خالد الشعيبي (مدير اللجنة). ويشمل الأعضاء عدد من الشخصيات المعروفة في قطر منهم، السيد خالد جاسم، السيد ماجد الخليفي، والسيد حسن الساعي الذين يعملون في التقديم التلفزيوني. ولكن أعضاء اللجنة الأساسيين هم السيد خالد الشعيبي، السيد حسين الحداد، ، والسيدة نوف. يشترك أعضاء اللجنة في مسؤولية الربط بين ذوي الإعاقة والشركات في قطر بحيث يتم ايجاد فرص عمل ملائمة لهم في شركات مختلفة. والجدير بالذكر أن أعضاء اللجنة يقومون بهذا العمل بشكل تطوعي وغير مدفوع الأجر. 

	يعتبر السيد حسين الحداد هو نقطة اتصالنا باللجنة التطوعية لتوظيف ذوي الإعاقة. يشغل السيد حسين الحداد وظيفة في معهد النور للمكفوفين بالإضافة إلى منصبه في اللجنة. ويعتبر السيد حسين الحداد الشخص الوحيد الذي يتعامل مع بيانات ذوي الإعاقة ولهذا يعتبر الشخص الأمثل ليمثل نقطة توصلنا مع اللجنة حيث أننا نعمل على حل مشكلة التعامل مع البيانات عن طريق المشروع. 

	
	
</p>

</body>