<% content_for :title do %>من نحن<% end %>


</br>
</br>
</br>
</br>
</br>
<h2 class="fonty" align="center">من نحن</h2>
</br>
<body>


<p class="fonty formpad">
 تتكون اللجنة التطوعية لتوظيف ذوي الإعاقة من عدد من الأعضاء يرأسهم السيد خالد الشعيبي (مدير اللجنة). ويشمل الأعضاء عدد من الشخصيات المعروفة في قطر منهم، السيد خالد جاسم، السيد ماجد الخليفي، والسيد حسن الساعي الذين يعملون في التقديم التلفزيوني. ولكن أعضاء اللجنة الأساسيين هم السيد خالد الشعيبي، السيد حسين الحداد، ، والسيدة نوف. يشترك أعضاء اللجنة في مسؤولية الربط بين ذوي الإعاقة والشركات في قطر بحيث يتم ايجاد فرص عمل ملائمة لهم في شركات مختلفة. والجدير بالذكر أن أعضاء اللجنة يقومون بهذا العمل بشكل تطوعي وغير مدفوع الأجر. 

يعتبر السيد حسين الحداد هو نقطة اتصالنا باللجنة التطوعية لتوظيف ذوي الإعاقة. يشغل السيد حسين الحداد وظيفة في معهد النور للمكفوفين بالإضافة إلى منصبه في اللجنة. ويعتبر السيد حسين الحداد الشخص الوحيد الذي يتعامل مع بيانات ذوي الإعاقة ولهذا يعتبر الشخص الأمثل ليمثل نقطة توصلنا مع اللجنة حيث أننا نعمل على حل مشكلة التعامل مع البيانات عن طريق المشروع. 



</p>

<br>
<br>
<p class="fonty formpad">
	
	لجنة للتبرعات لتوظيف الأشخاص ذوي الإعاقة (VCRPD) هي لجنة تطوعية أوسست في عام 2008 من قبل معهد النور للمكفوفين. وهي تقع في الخليج الغربي في مبنى معهد النور. مهمة اللجنة تتمثل في إشراك الأشخاص ذوي الإعاقة في جميع مجالات المجتمع من خلال العثور لهم على فرص عمل مناسبة (Al-Sharq Portal, 2015). في السابق كانت اللجنة تحت إدارة معهد النور ولكن هذا ليس هو الحال ألان. VCRPD ألان تحت إدارة السيد خالد الشعيبي ، و أعضاء آخرين من بينهم السيد حسين آل حداد الذي هو نقطة الاتصال. لقد توسست هذه اللجنة لاجل خدمة الشعب ذوي الإعاقة من خلال توصيلهم لشركات والمؤسسات التي لديها فرص عمل متاحة و مناسبة لهم . اللجنة ليس أية ميزانية نظرا لعدم وجود أي كفيل. وبسبب ذلك، كل الخدمات المتاحة من اللجنة تعتبر عملٌ تطوعي. تخدم اللجنة الجميع من ذوي الإعاقة بين الأعمار 18 و 60 سنة، و الطريقة الوحيدة التي يمكن للشعب أن يعرف عن هذه الفرص هي من خلال الجرائد التي نشرت أو من خلال حساب Twitter الخاص بهم .
	
</p>

</body>