<br>
<br>
<% content_for :title do %>تواصل معنا<% end %>

</br>
</br>
</br>

<body class="Fonty">

 
 <form class="sampleform" method="post" action="http://www.cmu.edu/cgi-bin/mailto">
 <fieldset class="floatR" align="right">
   <input name="MailTo" type="hidden" value="aamuftah@qatar.cmu.edu" />
   <legend class="fonty">تواصل معنا</legend>
   <br>
   <br>
   <p>
     <label for="fname" class="fonty" >الاسم الكامل</label></br>
     <input size="50" class="required" minlength="3"  />
   </p>
  </br>
   
     <p>
     <label for="phone" class="fonty">رقم الهاتف </label></br>
      <input  size="37"   minlength="3" maxlength="8" digits="true" />-  
	 
    <input size="10"  minlength="1" maxlength="3" digits="true" /> 
   </p>    
   </br>
   
   <p>
     <label for="cemail" class="fonty">البريد الالكتروني</label></br>
     <input  size="50"  class="required email" />
   </p>
  </br>

   <p>
     <label for="ccomment" class="fonty">الرسالة</label></br>
     <textarea  cols="48"  class="required"></textarea>
   </p>
   </br>
   
   <p>
     <input class="submit" type="submit" value="Submit"/>
   </p>
 </fieldset>
 <!--</form>-->
 
 
</body>