</br>
</br>
</br>
</br>
<% content_for :title do %>الفعاليات<% end %>
<h2 class="fonty" align="center">الفعاليات القادمة</h2>
</br>
</br>
</br>
</br>



 <%= image_tag "event.jpg" , width: '25%', align:'right'%>

<div class="event">
<h4 class="eventheading">
	- اسم الفعالية: 
</h4>
<p class="fonty">
فعاليات اللجنة التطوعية لتوظيف ذوي الإعاقة
</p>
 
 
<h4 class="eventheading">
	- المكان: 
</h4>
<p class="fonty">
مبنى معهد النور </p>


<h4 class="eventheading">
- التاريخ و الوقت:
</h4>
<p class="fonty">
٢٤ ابريل ٢٠١٦</p>

<p class="fonty">
الساعة الرابعة عصراً</p>

</div>


</br>
<hr>
</br>

 <%= image_tag "event.jpg" , width: '25%', align:'right'%>


<div class="event">
<h4 class="eventheading">
	- اسم الفعالية: 
</h4>
<p class="fonty">
فعاليات اللجنة التطوعية لتوظيف ذوي الإعاقة
</p>
 
 
<h4 class="eventheading">
	- المكان: 
</h4>
<p class="fonty">
مبنى معهد النور </p>


<h4 class="eventheading">
- التاريخ و الوقت:
</h4>
<p class="fonty">
٢٤ ابريل ٢٠١٦</p>

<p class="fonty">
الساعة الرابعة عصراً</p>

</div>



</br>
<hr>
</br>


 <%= image_tag "event.jpg" , width: '25%', align:'right'%>

<div class="event">
<h4 class="eventheading">
	- اسم الفعالية: 
</h4>
<p class="fonty">
فعاليات اللجنة التطوعية لتوظيف ذوي الإعاقة
</p>
 
 
<h4 class="eventheading">
	- المكان: 
</h4>
<p class="fonty">
مبنى معهد النور </p>


<h4 class="eventheading">
- التاريخ و الوقت:
</h4>
<p class="fonty">
٢٤ ابريل ٢٠١٦</p>

<p class="fonty">
الساعة الرابعة عصراً</p>

</div>