
</br>




</br>
</br>
</br>
</br>

<% content_for :title do %>الاخبار<% end %>
<h2 class="fonty" align="center">الاخبار</h2>
</br>
</br>
</br>
</br>



	
 <%= image_tag "41.jpg" , width: '25%', align:'right'%>
<br>
<br>
<div class="event">
<h4 class="eventheading">
	زيارة سمو الأمير المفدى للجنة التطوعية لتوظيف ذوي الإعاقة</h4>
<p class="fonty">

استقبل سعادة الشيخ / عبد الله بن ناصر بن خليفة آل ثاني وزير الدولة للشئون الداخلية بمكتبه بوزارة الداخلية صباح الأحد الموافق 26 / 5 / 2013 أعضاء اللجنة التطوعية لتوظيف ذوى الاحتياجات الخاصة حيث تقدم أعضاء اللجنة بالشكر والتقدير لوزارة الداخلية على جهدها في التيسير على تعيين ذوى الإعاقة وتقديم خدمات الوزارة لهم بكل سهولة ويسر وإنشاء قسم خاص بهم في الإدارة العامة لجوازات المنافذ وشئون الوافدين وتعيين الوزارة لعدد كبير من ذوى الاحتياجات الخاصة يفوق اى جهة أخرى مما يدلل على المكانة التي توليها وزارة الداخلية لتلك الفئات انطلاقا من مسئوليتها الاجتماعية تجاههم. 

وتضم اللجنة التطوعية لتوظيف ذوى الاحتياجات الخاصة كل من السيد / خالد الشعيبى رئيس اللجنة وعضوية الدكتور سيف الحجرى , الإعلامي خالد جاسم و الإعلامي حسن الساعي ,و السيد / علي راشد المهندي.
</p>
<br>
<br>
<br>
<hr>
<br>
<br>
<br> 
</div>
 <%= image_tag "45366352.jpg" , width: '25%', align:'right'%>
<br>
<div class="event">
<h4 class="eventheading">
	تنظيم ورشة تدريبية لذوي الإعاقة تاريخ ٢٣ مايو</h4>
<p class="fonty">

استقبل سعادة الشيخ / عبد الله بن ناصر بن خليفة آل ثاني وزير الدولة للشئون الداخلية بمكتبه بوزارة الداخلية صباح الأحد الموافق 26 / 5 / 2013 أعضاء اللجنة التطوعية لتوظيف ذوى الاحتياجات الخاصة حيث تقدم أعضاء اللجنة بالشكر والتقدير لوزارة الداخلية على جهدها في التيسير على تعيين ذوى الإعاقة وتقديم خدمات الوزارة لهم بكل سهولة ويسر وإنشاء قسم خاص بهم في الإدارة العامة لجوازات المنافذ وشئون الوافدين وتعيين الوزارة لعدد كبير من ذوى الاحتياجات الخاصة يفوق اى جهة أخرى مما يدلل على المكانة التي توليها وزارة الداخلية لتلك الفئات انطلاقا من مسئوليتها الاجتماعية تجاههم. 

وتضم اللجنة التطوعية لتوظيف ذوى الاحتياجات الخاصة كل من السيد / خالد الشعيبى رئيس اللجنة وعضوية الدكتور سيف الحجرى , الإعلامي خالد جاسم و الإعلامي حسن الساعي ,و السيد / علي راشد المهندي.
</p>
</div>



<br>
<br>
<br>
<hr>
<br>
<br>
<br> 




 <%= image_tag "41.jpg" , width: '25%', align:'right'%>
<br>
<br>
<div class="event">
<h4 class="eventheading">
	زيارة سمو الأمير المفدى للجنة التطوعية لتوظيف ذوي الإعاقة</h4>
<p class="fonty">

استقبل سعادة الشيخ / عبد الله بن ناصر بن خليفة آل ثاني وزير الدولة للشئون الداخلية بمكتبه بوزارة الداخلية صباح الأحد الموافق 26 / 5 / 2013 أعضاء اللجنة التطوعية لتوظيف ذوى الاحتياجات الخاصة حيث تقدم أعضاء اللجنة بالشكر والتقدير لوزارة الداخلية على جهدها في التيسير على تعيين ذوى الإعاقة وتقديم خدمات الوزارة لهم بكل سهولة ويسر وإنشاء قسم خاص بهم في الإدارة العامة لجوازات المنافذ وشئون الوافدين وتعيين الوزارة لعدد كبير من ذوى الاحتياجات الخاصة يفوق اى جهة أخرى مما يدلل على المكانة التي توليها وزارة الداخلية لتلك الفئات انطلاقا من مسئوليتها الاجتماعية تجاههم. 

وتضم اللجنة التطوعية لتوظيف ذوى الاحتياجات الخاصة كل من السيد / خالد الشعيبى رئيس اللجنة وعضوية الدكتور سيف الحجرى , الإعلامي خالد جاسم و الإعلامي حسن الساعي ,و السيد / علي راشد المهندي.
</p>
<br>
<br>
<br>
<hr>
<br>
<br>
<br> 
</div>
 <%= image_tag "45366352.jpg" , width: '25%', align:'right'%>
<br>
<div class="event">
<h4 class="eventheading">
	تنظيم ورشة تدريبية لذوي الإعاقة تاريخ ٢٣ مايو</h4>
<p class="fonty">

استقبل سعادة الشيخ / عبد الله بن ناصر بن خليفة آل ثاني وزير الدولة للشئون الداخلية بمكتبه بوزارة الداخلية صباح الأحد الموافق 26 / 5 / 2013 أعضاء اللجنة التطوعية لتوظيف ذوى الاحتياجات الخاصة حيث تقدم أعضاء اللجنة بالشكر والتقدير لوزارة الداخلية على جهدها في التيسير على تعيين ذوى الإعاقة وتقديم خدمات الوزارة لهم بكل سهولة ويسر وإنشاء قسم خاص بهم في الإدارة العامة لجوازات المنافذ وشئون الوافدين وتعيين الوزارة لعدد كبير من ذوى الاحتياجات الخاصة يفوق اى جهة أخرى مما يدلل على المكانة التي توليها وزارة الداخلية لتلك الفئات انطلاقا من مسئوليتها الاجتماعية تجاههم. 

وتضم اللجنة التطوعية لتوظيف ذوى الاحتياجات الخاصة كل من السيد / خالد الشعيبى رئيس اللجنة وعضوية الدكتور سيف الحجرى , الإعلامي خالد جاسم و الإعلامي حسن الساعي ,و السيد / علي راشد المهندي.
</p>
</div>


