<% content_for :title do %>الاخبار<% end %>
<h3 dir="rtl">اللجنة التطوعية لتوظيف ذوي الإعاقة</h3>
</br>
<p dir="rtl">
	
	انا فجر الغبية
	
	انا فاطمة الزفتة
	
	انا الجوري قمرطة
	
	
اخبار اللجنة التطوعية لتوظيف ذوي الإعاقة
</p>
