<% content_for :title do %>تم تسجيل الطلب<% end %>

<br>
<br>
<br><br>
<br>
<br><br>
<br>
<br><br>
<br>
<br>
<h2 class="fonty" align="center">

شكراً لكم على التسجيل.		 
		 </h2>
<h5 class="fonty" align ="center">	
		تم حفظ معلوماتكم في قاعدة بيانات اللجنة التطوعية لتوظيف ذوي الإعاقة.
</h5>
